$primary-color: #14213d;
$accent-color: #f48907;
$accent-color-dk: #d0770b;
$port-grey: #e5e5e5;
$copy-color: #131516;
$font-stack: 'Nunito sans',
sans-serif;

body {
    background-color: white;
    font-size: 16px;
    font-family: $font-stack;
    color: $copy-color;
    font-weight: 400;
}

nav {
    background-color: rgba(20, 33, 61, .75);
    position: fixed;
    z-index: 998;
  ul a:hover {
    background-color: rgba(255,255,255,0.1);
  }
}

.brand-logo {
    img {
        height: 54px;
        width: 74px;
        margin-top: 5px;
    }
}

footer.page-footer {
    margin-top: 0;
    background: linear-gradient(to bottom, rgba(20, 33, 61, .75) 0%, rgba(20, 33, 61, 1) 100%), url(../images/bg.jpg) repeat;
    color: white;
    .footer-copyright {
        background-color: rgba(0, 0, 0, 0.15);
    }
    li {
        display: inline;
        margin: 0 .5rem;
    }
    a {
        color: $accent-color;
        text-decoration: underline;
    }
    .footer-brand {
        max-width:100px;
    }
}

section {
    padding-bottom: 2rem;
}

h1 {
  font-weight: 900;
}
h2, h5 {
    font-weight: 700;
}

.col {
    text-align: center;
}

.hidden {
    display: none;
}

.nav-row {
    margin-bottom: 0;
}

.side-nav {
    a {
        color: $primary-color;
    }
    .divider {
        margin-top: 0;
    }
}

.sidenav-custom-icon {
    img {
        height: 24px;
        position: absolute;
        margin-top: 12px;
    }
    span {
        margin-left: 56px;
    }
}

.input-field {
    text-align: left;
}

.primary-color {
    background-color: $primary-color;
    color: white;
}

.jumbotron {
    background-image: url('../images/port-hero-sat.jpg');
    background-size: cover;
    background-position: bottom center;
    min-height: 464px;
    padding-top: 56px;
    display: flex;
    align-items: center;
    color: white;
}

.jumbo-title {
    margin-top: 4.1rem;
    img {
        max-width: 250px; }
}

.about {
    display: block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.6) 100%), url('../images/bg.jpg') repeat;
    h2 {
        color: #fff;
      margin-top: 1.25rem;
    }
  h3 {
    color: #fff;
  }
    .me-photo {
        position: relative;
        max-width: 100%;
        border-radius: 2px;
        margin: 0.5rem 0px 1rem
    }
    img {
        width: 100%;
    }
    .row {
        margin-bottom: 0;
    }
    &:after {
        //background-image: url(images/bg.jpg);
    }
}

.design {
    img {
        max-width: 119px;
        margin-top: -1px;
        margin-bottom: -10px;
    }
}

.develop {
    img {
        max-width: 171px;
        margin-top: 6px;
    }
}

.photo-video {
    img {
        max-width: 169px;
        margin-top: 5px;
    }
}

  .chip {
    margin-top: .5rem;
    margin-bottom: 0;
  }


.cap-card p::first-letter {
  font-size: 200%;
}

.card-action span {
    margin-right: 20px;
}

.contact {
    background-image: url(../images/hudson.jpg);
    background-size: cover;
    background-position: bottom center;
    padding-bottom: 3.25rem;
    .row form {
        padding-top: .75rem;

        .g-recaptcha {
            margin-bottom: 1rem;
        }
    }
    .btn {
        background-color: $accent-color;
    }
    h2 {
        color: #fff;
    }
}

.input-field .prefix.active {
    color: $accent-color;
}

.msg {
    margin-top: 25px;
    color: #fff;
}

.card-panel ul {
    margin: 0px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: $accent-color;
  font-weight: 700;
  &:hover {
    color: $accent-color-dk;
  }
}

input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: $accent-color;
    box-shadow: $accent-color 0px 1px 0px 0px;
}

input:not([type]):focus:not([readonly])+label,
input:not([type=text]):focus:not([readonly])+label,
input:not([type=password]):focus:not([readonly])+label,
input:not([type=email]):focus:not([readonly])+label,
input:not([type=url]):focus:not([readonly])+label,
input:not([type=time]):focus:not([readonly])+label,
input:not([type=date]):focus:not([readonly])+label,
input:not([type=datetime]):focus:not([readonly])+label,
input:not([type=datetime-local]):focus:not([readonly])+label,
input:not([type=tel]):focus:not([readonly])+label,
input:not([type=number]):focus:not([readonly])+label,
input:not([type=search]):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([redaonly])+label {
    color: $accent-color;
}

@media only screen and (max-width: 600px) {
  .brand-logo img {
        width: 64px;
        height: 48px;
        margin-top: 4px;
  }
  .about {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.6) 100%), url('../images/bg.jpg') repeat; 
  }
}

@media only screen and (min-width: 600px) {
    .even-row {
        display: flex;
        clear: both;
        align-items: center;
    }

    .contact form .g-recaptcha {
        margin-left: 44px !important;
    }
}

@media only screen and (min-width: 992px) {
    footer {
        p {
        margin: .5em 0 0;
    }
    }
  .jumbotron {
    min-height: 500px;
  }
}
